body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  background-image: linear-gradient(180deg, #2f1134, #631f70);
  margin: auto;
  width: 660px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.header {
  text-align: center;
  margin: auto;
  padding: 1rem;
}
.title {
  color: #fbcd23;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.7rem;
}
.subtitle {
  color: white;
}
.second-subtitle {
  color: white;
  margin: 0.6rem;
}
.third-subtitle {
  color: white;
  padding-bottom: 1.2rem;
}
.flex-container {
  background-color: #4b1854;
  background-image: linear-gradient(170deg, #5c1d67, #1f0c22);
  border-radius: 7px;
  width: 95%;
  margin: auto;
  box-shadow: 1px 2px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.4rem;
}
.flex-title {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 1.4rem;
  padding: 0.5rem;
  font-weight: 300;
}
.inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}
input {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 70%;
  font-size: 1.2rem;
  border: 0;
}
.card-title {
  color: white;
  padding: 1.2rem;
}
.card {
  display: flex;
  justify-content: space-around;
  padding: 0.9rem;
}
.bord {
  border-radius: 0.4rem;
  padding-top: 0.4rem;
  width: 30%;
  background-image: linear-gradient(50deg, #342a89, #2738db);
  display: flex;
  justify-content: center;
}
.card-p {
  background-image: linear-gradient(150deg, #4670f1, #71cafe);
  border: 0.4rem;
  border-image: linear-gradient(30deg, #342a89, #2738db);
  text-align: center;
  width: 90%;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}
button {
  display: flex;
  background-color: #1d0c20;
  color: #fffffd;
  margin: auto;
  border: none;
  cursor: pointer;
  justify-content: center;
  width: 55%;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-bottom: 0.6rem;
}
p {
  text-align: center;
  color: white;
  font-size: 0.8rem;
}
object {
  width: 7rem;
  padding: 0.5rem;
}
@media screen and (max-width: 660px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 90%;
  }
  .flex-container {
    width: 90%;
  }
  .bord {
    width: 70%;
  }
  .card-p {
    width: 90%;
  }
  .title {
    margin-left: 10px;
    margin-right: 10px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  button {
    margin: auto;
  }
}
